/*红车*/
.redRook1 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -717px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
    cursor: pointer;
}

.redRook2 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -717px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
    cursor: pointer;
}

/*红马*/
.redHorse1 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -823px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
    cursor: pointer;
}

.redHorse2 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -823px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
    cursor: pointer;
}

/*红象*/
.redElephant1 {
    background: url('@/assets/images/棋子.png') no-repeat -919px -382px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 86px;
    cursor: pointer;
}

.redElephant2 {
    background: url('@/assets/images/棋子.png') no-repeat -919px -382px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 86px;
    cursor: pointer;
}

/*红仕*/
.redAdvisor1 {
    background: url('@/assets/images/棋子.png') no-repeat -836px -468px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 85px;
    cursor: pointer;
}

.redAdvisor2 {
    background: url('@/assets/images/棋子.png') no-repeat -836px -468px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 85px;
    cursor: pointer;
}

/*红帅*/
.redKing {
    background: url('@/assets/images/棋子.png') no-repeat -510px -401px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 85px;
    cursor: pointer;
}


/*红炮*/
.redCannon1 {
    background: url('@/assets/images/棋子.png') no-repeat -601px -189px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
    cursor: pointer;
}

.redCannon2 {
    background: url('@/assets/images/棋子.png') no-repeat -601px -189px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
    cursor: pointer;
}

/*红兵*/
.redPawn1 {
    background: url('@/assets/images/棋子.png') no-repeat -862px -189px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
    cursor: pointer;
}

.redPawn2 {
    background: url('@/assets/images/棋子.png') no-repeat -862px -189px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
    cursor: pointer;
}

.redPawn3 {
    background: url('@/assets/images/棋子.png') no-repeat -862px -189px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
    cursor: pointer;
}

.redPawn4 {
    background: url('@/assets/images/棋子.png') no-repeat -862px -189px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
    cursor: pointer;
}

.redPawn5 {
    background: url('@/assets/images/棋子.png') no-repeat -862px -189px;
    position: absolute;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
    cursor: pointer;
}