/*黑车*/
.blackRook1 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -294px;
    position: absolute;
    left: 2px;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

.blackRook2 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -294px;
    position: absolute;
    left: calc(86px + 72 * 7px);
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

/*黑马*/
.blackHorse1 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -189px;
    position: absolute;
    left: 81px;
    transform: scale(0.7);
    width: 81px;
    height: 104px;
}

.blackHorse2 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -189px;
    position: absolute;
    left: calc(86px + 72 * 6px);
    transform: scale(0.7);
    width: 81px;
    height: 104px;
}

/*黑象*/
.blackElephant1 {
    background: url('@/assets/images/棋子.png') no-repeat -514px -189px;
    position: absolute;
    left: calc(78 * 2px);
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

.blackElephant2 {
    background: url('@/assets/images/棋子.png') no-repeat -514px -189px;
    position: absolute;
    left: calc(86px + 72 * 5px);
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

/*黑仕*/
.blackAdvisor1 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -400px;
    position: absolute;
    left: calc(86px + 70 * 2px);
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

.blackAdvisor2 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -400px;
    position: absolute;
    left: calc(86px + 72 * 4px);
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

/*黑将*/
.blackKing {
    background: url('@/assets/images/棋子.png') no-repeat -688px -189px;
    position: absolute;
    left: calc(76 * 4px);
    transform: scale(0.7);
    width: 81px;
    height: 85px;
}


/*黑炮*/
.blackCannon1 {
    background: url('@/assets/images/棋子.png') no-repeat -427px -295px;
    position: absolute;
    top: 160px;
    left: 81px;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

.blackCannon2 {
    background: url('@/assets/images/棋子.png') no-repeat -427px -295px;
    position: absolute;
    top: 160px;
    left: calc(86px + 72 * 6px);
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

/*黑兵*/
.blackPawn1 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -506px;
    position: absolute;
    top: 230px;
    left: 5px;
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

.blackPawn2 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -506px;
    position: absolute;
    top: 230px;
    left: calc(78 * 2px);
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

.blackPawn3 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -506px;
    position: absolute;
    top: 230px;
    left: calc(76 * 4px);
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

.blackPawn4 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -506px;
    position: absolute;
    top: 230px;
    left: calc(86px + 72 * 5px);
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}

.blackPawn5 {
    background: url('@/assets/images/棋子.png') no-repeat -340px -506px;
    position: absolute;
    top: 230px;
    left: calc(86px + 72 * 7px);
    transform: scale(0.7);
    width: 81px;
    height: 105px;
}